[submodule "backend"]
	path = backend
	url = https://github.com/chitranjan-gupta/jobboard-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/chitranjan-gupta/jobboard-frontend.git
